doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title letsProxy
        include includes/styles.pug
        include includes/code.pug
    body
        .container
            .row
                include includes/menu.pug
            h1 New domain 
            form(action="/update/domain" method="post")
                label Template:
                .templates
                    select(name="domainTemplate" style="width: 100%;")
                        option(value="" selected= domainTemplate == '') None
                        option(value="gitlab" selected= domainTemplate == 'gitlab') GitLab
                label External domain:
                input(type="hidden" name="oldExternalDomain" value=oldExternalDomain)
                input(type="text" name="externalDomain" placeholder="example.com" value=externalDomain style="width: 100%;")
                label Aliases:
                input(type="text" name="domainAliases" placeholder="www.example.com,img1.example.com,img2.example.com" value=domainAliases style="width: 100%;")
                label Upstream:
                .https
                    select(name="domainUpstreamHttps" style="width: 25%;")
                        if domainUpstreamHttps==="true"
                            option(value="false") http
                            option(value="true" selected) https
                        else
                            option(value="false" selected) http
                            option(value="true") https
                            
                .upstreams
                    select(name="domainUpstream" style="width: 75%;")
                        each server in upstreamServers
                            if domainUpstream===server
                                option(value=server selected) #{server}
                            else
                                option(value=server) #{server}
                input(type="submit" value="SAVE")
            include includes/footer.pug
