doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title letsProxy
        include includes/styles.pug
        include includes/code.pug
    body
        .container.bottom-space
            .row
                include includes/menu.pug
            table.u-full-width
                tbody
                    td
                        h1 Domains 
                            a(href="/add/domain")
                                i.material-icons.pointer.big-icon(title="Add domain" style="color: green;") add_circle_outline
                            i.material-icons.pointer.big-icon(title="Check NGINX config" style="color: blue;") sync_problem
                            i.material-icons.pointer.big-icon(title="Restart NGINX" style="color: orange;") sync
            table.u-full-width
                thead
                    tr
                        th Status
                        th External domain
                        th &nbsp;
                        th Server address
                        th &nbsp;
                tbody
                    each domain in domains
                        - var ID = domain.name.replace(/\./g, '-')
                        - var https = domain.settings.location.proxy.pass.https?'s':''
                        - var redirectIcon = domain.settings.location.proxy.redirect?'lock':'lock_open'
                        - var redirectText = domain.settings.location.proxy.redirect?'https only':'http redirect'
                        tr
                            td(style="width: 30px;")
                                if domain.settings.enabled
                                    if domain.settings.certificates
                                        i.material-icons.pointer(id=domain.name name="domain" title="Active" style="color: green;") check_circle
                                    else
                                        i.material-icons.pointer(id=domain.name name="domain" title="Active, no certificates" style="color: orange;") pause_circle_filled
                                else
                                    i.material-icons.pointer(id=domain.name name="domain" title="Inactive" style="color: red;") cancel
                            td
                                .float-left.space-right
                                    a(href="/edit/domain/"+domain.name)
                                        i.material-icons(title="Edit domain") edit
                                .float-left
                                    ul.domain-list
                                        li
                                            a(href="https://"+domain.name target="_blank") #{domain.name}
                            td
                                i.material-icons(title=redirectText) #{redirectIcon}
                            td
                                .float-left.space-right
                                    a(href="/edit/server/"+domain.backendName)
                                        i.material-icons(title="Edit domain") edit
                                .float-left
                                    ul.domain-list
                                        each server in domain.backend.servers
                                            - var proxyAddress = server.address
                                            - var proxyPort = server.port?':'+server.port:''
                                            li
                                                a(href="http"+https+"://"+proxyAddress+proxyPort target="_blank") http#{https}://#{proxyAddress}#{proxyPort}
                            td
                                if domain.settings.enabled
                                    a(href="/domain/disable/"+domain.name)
                                        i.material-icons.rotate.green(title="Disable domain") toggle_on
                                else
                                    a(href="/domain/enable/"+domain.name)
                                        i.material-icons.rotate.red(title="Enable domain") toggle_off
                                a(href="/ajax/delete/"+domain.name)
                                    i.material-icons(title="Remove domain!!!" style="color: red;") delete
            include modal/config.pug
        include includes/footer.pug