doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title letsProxy
        include includes/styles.pug
        include includes/code.pug
    body
        .container
            .row
                include includes/menu.pug
            table.u-full-width
                tbody
                    td
                        h1 FrontEnd 
                            a(href="/add/front")
                                i.material-icons.pointer.big-icon(title="Add domain" style="color: green;") add_circle_outline
                            i.material-icons.pointer.big-icon(title="Check NGINX config" style="color: blue;") sync_problem
                            i.material-icons.pointer.big-icon(title="Restart NGINX" style="color: orange;") sync
                    td &nbsp;
                    td
                        h1 BackEnd 
                            a(href="/add/back")
                                i.material-icons.pointer.big-icon(title="Add server" style="color: green;") add_circle_outline
                            i.material-icons.pointer.big-icon(title="Check NGINX config" style="color: blue;") sync_problem
                            i.material-icons.pointer.big-icon(title="Restart NGINX" style="color: orange;") sync
            table.u-full-width
                thead
                    tr
                        th Status
                        th External domain
                        th &nbsp;
                        th Internal address
                        th &nbsp;
                tbody
                    each domain in domains
                        - var ID = domain.name.replace(/\./g, '-')
                        - var https = domain.settings.location.proxy.pass.https?'s':''
                        - var redirectIcon = domain.settings.location.proxy.redirect?'lock':'lock_open'
                        - var redirectText = domain.settings.location.proxy.redirect?'https only':'http redirect'
                        //- - var proxyAddress = domain.settings.location.proxy.pass.address
                        //- - var proxyPort = domain.settings.location.proxy.pass.port?':'+domain.settings.location.proxy.pass.port:''
                        tr
                            td(style="width: 30px;")
                                if domain.settings.enabled
                                    i.material-icons.pointer(id=domain.name name="domain" title="Active" style="color: green;") check_circle
                                else
                                    i.material-icons.pointer(id=domain.name name="domain" title="Inactive" style="color: red;") cancel
                            td
                                ul.domain-list
                                    li
                                        a(href="https://"+domain.name target="_blank") #{domain.name}
                            td
                                //- i.material-icons arrow_right_alt
                                i.material-icons(title=redirectText) #{redirectIcon}
                            td
                                ul.domain-list
                                    each server in domain.backend.servers
                                        - var proxyAddress = server.address
                                        - var proxyPort = server.port?':'+server.port:''
                                        li
                                            a(href="http"+https+"://"+proxyAddress+proxyPort target="_blank") http#{https}://#{proxyAddress}#{proxyPort}
                            td
                                a(href="/edit/"+domain.name)
                                    i.material-icons(title="Edit domain") edit
                                if domain.settings.enabled
                                    a(href="/ajax/disable/"+domain.name)
                                        i.material-icons(title="Disable domain") cancel
                                else
                                    a(href="/ajax/enable/"+domain.name)
                                        i.material-icons(title="Enable domain") check_circle
                                a(href="/ajax/delete/"+domain.name)
                                    i.material-icons(title="Remove domain!!!" style="color: red;") delete
                        //- tr(id="code-"+ID style="display: none;")
                        //-     td &nbsp;
                        //-     td(colspan=4)
                        //-         pre
                        //-             code #{domain.config}
            include modal/config.pug
            include includes/footer.pug