doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title letsProxy
    include includes/styles.pug
    include includes/code.pug
  body
    .container
      .row
        include includes/menu.pug
      h1 New server 
      form(action="/update/server" method="post")
        label Upstream name:
        input(type="hidden" name="oldUpstreamName" value=upstreamName)
        input(type="text" name="upstreamName" value=upstreamName)
        label Address(es):
        .addresses
          each server, idx in upstreamServers
            - var port = 1000+Math.floor(Math.random() * 1000);
            div(id="port-"+port)
                input(type="text" name="upstreamAddresses[]" placeholder="127.0.0.1" value=server.address)
                | : 
                input(type="text" name="upstreamPorts[]" placeholder="3000" value=server.port style="width: 65px;")
                | 
                select(name="upstreamExtra[]" data-port=port)
                  option(value=0) Default
                  option(value=1) Weight
                  option(value=2) Backup
                  option(value=3) Down
                input(id="weight-"+port type="text" name="upstreamWeight[]" data-port=port placeholder=">=1" style="width: 50px; display: none;")
                if idx == 0
                  i.material-icons.pointer.medium-icon(onclick="addUpstreamAddress();") add_circle_outline
                else
                  i.material-icons.pointer.delete.medium-icon(onclick="removeUpstreamAddress('" + port + "');") remove_circle_outline
        .options
          - var isChecked = isSticky == true
          input(type="checkbox" id="stickySession" name="stickySession" value="on" checked=isChecked)
          |
          label(for="stickySession" style="display: inline-block;") Sticky session
        input(type="submit" value="SAVE")
      include includes/noty.pug
      include includes/footer.pug
